<form id="addNew">
  <p>Unique Name</p>
  <input type="text" name="name" placeholder="EPA">
  <p>URL to track</p>
  <input type="text" name="url" placeholder="https://www.epa.gov/">
  <p>Type</p>
  <input type="text" name="type" placeholder="government, environment">
  <p>Track every</p>
  <select name="time" id="time">
    <option value="10">10 seconds (debug mode)</option>
    <option value="360">6 minutes</option>
    <option value="1800">30 minutes</option>
    <option value="3600">1 hour</option>
    <option value="18000">5 hours</option>
  </select>
  <p>Until</p>
  <input type="date" name="until" value="2017-05-04"><br />
  <input type="checkbox" name="notify" value="yes"> Notify by email
  <input type="submit" value="Submit" id="addButton">

</form>

<p id="message"></p>

<script>
$("#message").hide();

$('input#addButton').click(function(event) {
  event.preventDefault();
  $.ajax({
    url: '/user/add',
    type: 'POST',
    dataType: 'text',
    data: $('form#addNew').serialize(),
    success: function(data) {
      if(data == 'error'){
        $("#message").css("background-color", "red");
        data = 'Your form is not correct, please check the inputs'
      }
      else{
        $("#message").css("background-color", "rgba(92, 193, 92, 0.91)");
      }
      $("#message").show();
      $("#message").html(data);
    }
  });
});

</script>
