<!DOCTYPE html>
<html>
<head>
  <title>Polybius</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/jquery-3.2.1.min.js"></script>
</head>
  <body>
    {{{body}}}
  </body>
</html>
