{{> head}}

<body>
  <p>test </p>
  <p>name: {{name}} </p>
  <p>age: {{age}} </p>
  <p>color: {{color}} </p>

<form action="/form" method="post">
  <input type="text" name="name" value="name" />
  <input type="submit" value="sumbit" />
</form>


  </p>
</body>
</html>
