<head>

</head>

<body>

<form action="/savepage" method="post">
  <input type="text" name="name" value="url of webpage" />
  <input type="submit" value="Save page" />
</form>


  </p>
</body>
</html>
