{{!< default}}

<div class="col-sm-8 col-sm-offset-2">
  <div class="jumbotron text-center" id="home">
    <a href="/"><img id="frontimage" src="/images/logo.jpg" /></a>
    <p class="lead">Web Archiving for journalists</p>
    <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
  </div>
</div>


<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid col-xs-10 col-xs-offset-1">
    <h6 class="col-xs-2"> Polybius V.0.0.1</h6>
    <a href="https://github.com/cvalenzuela/polybius" target="_blank" class="pull-right"><h6>Documentation</h6></a>
  </div>
</footer>
