<div class="col-sm-4 col-sm-offset-4" id="login">
  <div class="jumbotron text-center">
    <a href="/"><img id="frontimage" src="/images/logo.jpg" /></a>
    <h3><span class="fa fa-sign-in"></span> Login</h3>

    {{#if message}}
    <div class="alert-danger">{{message}}</div>
    {{/if}}

    <form action="/login" method="post">
      <div class="form-group">
        <h5>Email</h5>
        <input type="text" class="form-control inputText" name="email">
      </div>
      <div class="form-group">
        <h5>Password</h5>
        <input type="password" class="form-control inputText" name="password" />
      </div>
      <div>
        <input type="submit" class="form-control" value="Submit" />
      </div>
    </form>

    <form action="/forgot" method="post">
      <input type="submit" class="form-control" id="forget" value="Forgot Password?" />
    </div>
  </form>
</div>



<div class="col-sm-4 col-sm-offset-4" id="login">
  <hr>
  <span class="fa fa-sign-in"> Don't have an account?<a href="/signup"> Signup</a></span>
  <p>Or go <a href="/">home</a>.</p>
</div>


<footer class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid col-xs-10 col-xs-offset-1">
    <h6 class="col-xs-2"> Polybius V.0.0.1</h6>
    <a href="https://github.com/cvalenzuela/polybius" target="_blank" class="pull-right"><h6>Documentation</h6></a>
  </div>
</footer>
