
<h5>Sign-in</h5>
<form action="/login" method="POST">
  Username: <input type="text" name="username"><br />
  Password: <input type="password" name="password"><br />
  <input type="submit" name="submit" value="Submit">
</form>

<h5>Sign up with twitter</h5>
<form action="/twitter-login" method="GET">
  <input type="submit" name="submit" value="Twitter">
</form>

<h5>Register</h5>
<form action="/register" method="GET">
  <input type="submit" name="submit" value="Register">
</form>
