html,body{
  height: 100%
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button{
  display: block;
  margin: 20px 0px 0px 0px;
  background: white;
  border: 1px solid black;
  padding: 10px;
}

button:focus{
  background: black;
  color:white;
  outline:none;
}

input{
  padding: 10px;
  margin: 0px 0px 10px 0px;
}

input[type="submit"]{
  display: inherit;
  margin: 5vh 0px 0px 0px;
}

footer{
  padding: 8px;
}

#frontimage{
  max-width: 200px;
}

#top{
  margin-top: 3vh;
}

#logo img{
  margin: 10px 0px 0px 0px;
  padding: 0px;
  min-width: 130px;
}

#mainView{
  margin-top: 20px;
}

#addButton{
  background: black;
  color: white;
  border: none;
}

#message{
  margin: 10px 0px 0px 0px;
  background: rgba(92, 193, 92, 0.91);
  padding: 10px;
  color: white;
  display: inline-block;
}

#time{
  margin: 1px 0px 15px 0px;
}

#bottom{
  background: rgba(128, 128, 128, 0.07);
  padding: 20px;
  margin-top: 10vh;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
  margin-bottom: 10vh;
}

#home{
  margin-top: 25vh;
}

.added{
  padding: 5px;
  display: inline-block;
  background: rgba(99, 212, 99, 0.58);
}

.removed{
  padding: 5px;
  display: inline-block;
  background: rgba(255, 0, 0, 0.24);
}

.tracking{
  margin: 0px 0px 15px 0px;
}

.jumbotron{
  background-color: #fff;
}

.jumbotron p {
  font-size: 14px;
  margin-top: 10px;
}

.inputText{
  padding: 20px;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid
}

.form-control:focus {
  box-shadow: none;
}

input[type="submit"] {
  color: white;
  background: rgba(0, 0, 0, 0.85);
  max-width: 200px;
  margin: 20px auto;
}

#forget{
  background: #d4d4d4;
  color: black;
}
